<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
    <link rel="stylesheet" href="/css/semantic.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>


    <div class="site">
            <div class="ui massive menu">
                <div class="ui container">

                   <div class=" header item">
                       <a href="/"classe="link">Home</a>
                   </div>
                   <a class="item">
                      Blog
                   </a>
    
                   <a class="item">
                      Contact
                    </a>
                    <a class="item">
                       About
                    </a>

                </div>

            </div>
            <br>
            <br>
            <br>
            <div class="ui container">
                <form id="form" action="/add" class="ui form" method="POST">
                
                    <div class="ui three fields">

                        <div class="field">
                            <label for="label" class="ui header green">Enter the club name</label>
                            <input type="text" name="name" placeholder="Enter club name" value="" id="name">

                        </div>

                        <div class="field">
                            <label for="label" class="ui header green">Enter players name</label>
                            <input type="text" name="players" placeholder="Enter players name" value="" id="players">

                        </div>

                        <div class="field">
                            <label for="label" class="ui header green">Enter coach name</label>
                            <input type="text" name="coach" placeholder="Enter coach name" value="" id="coach">

                        </div>
                   
                    </div>

                    <div class="ui fluid field">
                
                        <button type="submit" class="ui button fluid green">save</button>

                    </div>
                </form> 

                <br>
                <br>
                <br>

                <table class="ui green table">
                    <thead>
                        <tr>
                            <th>Club Name</th>
                            <th>Players</th>
                            <th>Coach</th>
                            <th>Edit</th>
                            <th>Delete</th>
                           
                        </tr>
                        
                    </thead>

                    <tbody>
                        <% clubs.forEach((club) => { %>
                            <tr>
                                <td><%- club.name %></td>

                                <td><%- club.players %></td>

                                <td><%- club.coach %></td>

                                <td ><a class="ui purple button" href="/edit/<%= club._id %>"><i class="edit outline icon"></i></a> </td>
                                <td><a class="ui red button" href="/delete/<%= club._id %>"><i class="minus red icon"></i> </a></td>
                            </tr>
                            
                          <% }); %>

                    </tbody>

                </table>
                
            </div>   
        
    </div>


    <script src="/js/semantic.min.js"></script>
</body>
</html>